<!-- interior design -->
<div class="main-content">
    <div class="row">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title" style="font-weight: bold;">BSA LifeStructures</h4>
                <p class="card-category">Indianapolis, with five other U.S. offices</p>
            </div>

            <div class="card-body">
                Employees feel recognized for their worth at this 40-year old multidisciplinary architecture,
                engineering, interior design, and planning firm. “Team members are respectful and helpful to one
                another. They emphasize good design, celebrate individuals' strengths, and provide technology that
                allows for flexibility,” a review states. A small-firm mentality with large-firm resources, BSA offers
                “great opportunities for design with purpose.” Workers feel that the company “really values intentional
                design work for healing, learning, and discovery spaces.” BSA has a fantastic culture that promotes
                flexibility, community, and hard work, says one employee, who’s worked at the firm for four years and
                adds, “They have shown that they want me to progress individually by being supportive of continuing
                education and certification testing. I appreciate the flexibility that BSA provides to accomplish all my
                work and life goals.”
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title" style="font-weight: bold;">CBRE | Heery</h4>
                <p class="card-category">Atlanta, plus 22 additional offices nationwide</p>
            </div>

            <div class="card-body">
                A full-service firm offering architecture, interior design, engineering, construction management, and
                program management, CBRE | Heery has a diverse portfolio of projects across sectors. The company culture
                is family-oriented with “homegrown talent.” “Leadership grew up in the company, so they're in touch with
                the workforce,” a reviewer says. Employees feel taken care of: “I always felt the company had my best
                intentions in mind,” one says. “Management really cares about you as an individual. They give you the
                chance to grow.” In terms of benefits, Heery provides “great employer contributions in paid benefits and
                paid time off designations; [the] 401(k) match is above average in the industry.”
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title" style="font-weight: bold;">CBT Architects</h4>
                <p class="card-category">Boston, with an office in Abu Dhabi, UAE</p>
            </div>

            <div class="card-body">
                “It feels like a family” at this small architecture, interior design, and urban planning firm, whose
                leadership is known for investing in its people. “The environment allows you to grow, all team members
                attend meetings, and everyone's opinion matters. Within departments, there is a lot of collaboration and
                idea sharing, rolls are clearly defined, and there’s not too much overtime,” one staffer writes.
                Employees at CBT also love the caliber of the work and the opportunity to participate on projects of all
                stripes. And “everyone is friendly, has a positive attitude, and makes an effort to create a congenial
                atmosphere,” which is fostered with a casual dress code, flexible work schedule, and encouragement to
                take advantage of vacation time.
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title" style="font-weight: bold;">Corgan</h4>
                <p class="card-category">Dallas, with nine additional U.S. locations, plus offices in Singapore and
                    London</p>
            </div>

            <div class="card-body">
                Who says there’s no such thing as a free lunch? That’s one perk of the many that Corgan offers,
                including generous health benefits and parental leave (fathers and mothers are entitled to a three-month
                leave), a flexible work-from-home policy, a company-matching 401(k) plan, and stock options. Employees
                say they love that at Corgan: “Everyone helps everyone. Teamwork is evident, and the culture is
                something that wraps around you from your first day here. Leadership listens and appreciates you.” Plus,
                you get to work on fun and exciting projects and gain experience at a young age. “The firm cares about
                the staff, creating a great culture, work-life balance, and service to clients and the community,” says
                one review.
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title" style="font-weight: bold;">Eastlake Studio
                </h4>
                <p class="card-category">Chicago</p>
            </div>

            <div class="card-body">
                A tight-knit group of highly skilled architects and designers, Eastlake Studio is celebrated by
                employees for its “highly creative, fun, and supportive” atmosphere. One review sums it up: “Management
                always cares about the well-being of the staff and is very transparent. We have great access to
                resources and many creative, talented, and friendly staff who are willing to share their knowledge. Lots
                of range and diversity of project types.” Eastlake’s “super-talented staff manage to check egos at the
                door.” Plus the “unusually rich” benefits package includes a full health insurance premium paid by the
                company, generous bonuses, a 401(k) plan with an employer contribution, and transportation and cell
                phone subsidies.
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title" style="font-weight: bold;">EwingCole</h4>
                <p class="card-category">Philadelphia, with six other offices in the U.S.</p>
            </div>

            <div class="card-body">
                In addition to a friendly work environment that fosters teamwork and supports personal growth, EwingCole
                offers the chance to work on high-profile design projects as part of accomplished, hardworking teams.
                The multidisciplinary firm recognizes the worth of its employees with competitive salaries and bonuses,
                as well as a great benefits package, 401(k) plan, and profit sharing. “It is a very steady company that
                consistently produces a profit and believes in sharing with the employees,” notes one employee who’s
                been with the firm for more than five years. Others like working here because of the flexible schedule,
                great teamwork, goal-oriented management, and support of personal growth.
            </div>
        </div>
    </div>

    <!-- made double the same data for visual effect -->
    <div class="row">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title" style="font-weight: bold;">BSA LifeStructures</h4>
                <p class="card-category">Indianapolis, with five other U.S. offices</p>
            </div>

            <div class="card-body">
                Employees feel recognized for their worth at this 40-year old multidisciplinary architecture,
                engineering, interior design, and planning firm. “Team members are respectful and helpful to one
                another. They emphasize good design, celebrate individuals' strengths, and provide technology that
                allows for flexibility,” a review states. A small-firm mentality with large-firm resources, BSA offers
                “great opportunities for design with purpose.” Workers feel that the company “really values intentional
                design work for healing, learning, and discovery spaces.” BSA has a fantastic culture that promotes
                flexibility, community, and hard work, says one employee, who’s worked at the firm for four years and
                adds, “They have shown that they want me to progress individually by being supportive of continuing
                education and certification testing. I appreciate the flexibility that BSA provides to accomplish all my
                work and life goals.”
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title" style="font-weight: bold;">CBRE | Heery</h4>
                <p class="card-category">Atlanta, plus 22 additional offices nationwide</p>
            </div>

            <div class="card-body">
                A full-service firm offering architecture, interior design, engineering, construction management, and
                program management, CBRE | Heery has a diverse portfolio of projects across sectors. The company culture
                is family-oriented with “homegrown talent.” “Leadership grew up in the company, so they're in touch with
                the workforce,” a reviewer says. Employees feel taken care of: “I always felt the company had my best
                intentions in mind,” one says. “Management really cares about you as an individual. They give you the
                chance to grow.” In terms of benefits, Heery provides “great employer contributions in paid benefits and
                paid time off designations; [the] 401(k) match is above average in the industry.”
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title" style="font-weight: bold;">CBT Architects</h4>
                <p class="card-category">Boston, with an office in Abu Dhabi, UAE</p>
            </div>

            <div class="card-body">
                “It feels like a family” at this small architecture, interior design, and urban planning firm, whose
                leadership is known for investing in its people. “The environment allows you to grow, all team members
                attend meetings, and everyone's opinion matters. Within departments, there is a lot of collaboration and
                idea sharing, rolls are clearly defined, and there’s not too much overtime,” one staffer writes.
                Employees at CBT also love the caliber of the work and the opportunity to participate on projects of all
                stripes. And “everyone is friendly, has a positive attitude, and makes an effort to create a congenial
                atmosphere,” which is fostered with a casual dress code, flexible work schedule, and encouragement to
                take advantage of vacation time.
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title" style="font-weight: bold;">Corgan</h4>
                <p class="card-category">Dallas, with nine additional U.S. locations, plus offices in Singapore and
                    London</p>
            </div>

            <div class="card-body">
                Who says there’s no such thing as a free lunch? That’s one perk of the many that Corgan offers,
                including generous health benefits and parental leave (fathers and mothers are entitled to a three-month
                leave), a flexible work-from-home policy, a company-matching 401(k) plan, and stock options. Employees
                say they love that at Corgan: “Everyone helps everyone. Teamwork is evident, and the culture is
                something that wraps around you from your first day here. Leadership listens and appreciates you.” Plus,
                you get to work on fun and exciting projects and gain experience at a young age. “The firm cares about
                the staff, creating a great culture, work-life balance, and service to clients and the community,” says
                one review.
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title" style="font-weight: bold;">Eastlake Studio
                </h4>
                <p class="card-category">Chicago</p>
            </div>

            <div class="card-body">
                A tight-knit group of highly skilled architects and designers, Eastlake Studio is celebrated by
                employees for its “highly creative, fun, and supportive” atmosphere. One review sums it up: “Management
                always cares about the well-being of the staff and is very transparent. We have great access to
                resources and many creative, talented, and friendly staff who are willing to share their knowledge. Lots
                of range and diversity of project types.” Eastlake’s “super-talented staff manage to check egos at the
                door.” Plus the “unusually rich” benefits package includes a full health insurance premium paid by the
                company, generous bonuses, a 401(k) plan with an employer contribution, and transportation and cell
                phone subsidies.
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title" style="font-weight: bold;">EwingCole</h4>
                <p class="card-category">Philadelphia, with six other offices in the U.S.</p>
            </div>

            <div class="card-body">
                In addition to a friendly work environment that fosters teamwork and supports personal growth, EwingCole
                offers the chance to work on high-profile design projects as part of accomplished, hardworking teams.
                The multidisciplinary firm recognizes the worth of its employees with competitive salaries and bonuses,
                as well as a great benefits package, 401(k) plan, and profit sharing. “It is a very steady company that
                consistently produces a profit and believes in sharing with the employees,” notes one employee who’s
                been with the firm for more than five years. Others like working here because of the flexible schedule,
                great teamwork, goal-oriented management, and support of personal growth.
            </div>
        </div>
    </div>
</div>