<!-- water -->
<div class="main-content">
    <div class="row">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title" style="font-weight: bold;">Plumbing Kings</h4>
                <p class="card-category">Indianapolis</p>
            </div>

            <div class="card-body">
                The most important part of the home which is managed by the plumbers is the drainage system. Both the
                bathroom and kitchen sinks are essential components of the household drainage systems as they are used
                to remove the wastewater and the debris away from the house. If in any case, they malfunction for even a
                single day they can pose a health danger for the homeowners and bring all the daily life activities to a
                stop. Every professional plumber can repair this with their tools and remove the clogs in the sinks
                which will then allow free flow of debris.
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title" style="font-weight: bold;">Plumbing & Sewer Services Inc.</h4>
                <p class="card-category">Atlanta</p>
            </div>

            <div class="card-body">
                Now during the freezing winter morning, you don’t have to take a cold shower due to the damage of the
                water heater. Since, it is very easy to find a plumber who provides installation and repair of water
                heaters. It is recommended that one should use the tankless water heaters for heating the water since
                they use high-powered burners. Not only this, but they are more energy-efficient than traditional water
                heaters.
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title" style="font-weight: bold;">La Commode Plumbing</h4>
                <p class="card-category">Boston</p>
            </div>

            <div class="card-body">
                The toilets are also other important plumbing issues for many households. It can be due to two reasons,
                one of which is either they are clogged and have flushing problems. The second is an overflowing toilet
                which is a nightmare for all of us. Only the professional plumbers with good experience and expertise in
                plumbing will be able to tackle the problem with the tools and equipment.
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title" style="font-weight: bold;">Amazin’ Plumbers</h4>
                <p class="card-category">Dallas</p>
            </div>

            <div class="card-body">
                Sewer problems are very unpleasant and hard to deal with. The two main signs that make it necessary for
                you to employ a professional plumber in Fernando to repair the sewage lines are abnormal sounds, foul
                smells, and slow draining of wastewater. Hiring a plumber to inspect the sewer is advisable for
                assessing the problem and estimating the cost.
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title" style="font-weight: bold;">A-Better Plumbing Company
                </h4>
                <p class="card-category">Chicago</p>
            </div>

            <div class="card-body">
                Almost all the plumbers are experienced in fixing leaks as they are trained to tackle various problems
                with piping and leakage. Whether you want to fix a single leak in the piping system or the entire home
                doesn’t make a difference; plumbers have the training and equipment to handle such problems.

                These are some of the services provided by the professional plumbers which can help you in getting rid
                of the plumbing-related problems. You can make it a point to hire the best plumbers in your area so that
                you do not get troubled in any case.
            </div>
        </div>
    </div>
    <!-- made double the same data for visual effect -->
    <div class="row">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title" style="font-weight: bold;">Plumbing Kings</h4>
                <p class="card-category">Indianapolis</p>
            </div>

            <div class="card-body">
                The most important part of the home which is managed by the plumbers is the drainage system. Both the
                bathroom and kitchen sinks are essential components of the household drainage systems as they are used
                to remove the wastewater and the debris away from the house. If in any case, they malfunction for even a
                single day they can pose a health danger for the homeowners and bring all the daily life activities to a
                stop. Every professional plumber can repair this with their tools and remove the clogs in the sinks
                which will then allow free flow of debris.
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title" style="font-weight: bold;">Plumbing & Sewer Services Inc.</h4>
                <p class="card-category">Atlanta, plus 22 additional offices nationwide</p>
            </div>

            <div class="card-body">
                Now during the freezing winter morning, you don’t have to take a cold shower due to the damage of the
                water heater. Since, it is very easy to find a plumber who provides installation and repair of water
                heaters. It is recommended that one should use the tankless water heaters for heating the water since
                they use high-powered burners. Not only this, but they are more energy-efficient than traditional water
                heaters.
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title" style="font-weight: bold;">La Commode Plumbing</h4>
                <p class="card-category">Boston, with an office in Abu Dhabi, UAE</p>
            </div>

            <div class="card-body">
                The toilets are also other important plumbing issues for many households. It can be due to two reasons,
                one of which is either they are clogged and have flushing problems. The second is an overflowing toilet
                which is a nightmare for all of us. Only the professional plumbers with good experience and expertise in
                plumbing will be able to tackle the problem with the tools and equipment.
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title" style="font-weight: bold;">Amazin’ Plumbers</h4>
                <p class="card-category">Dallas, with nine additional U.S. locations, plus offices in Singapore and
                    London</p>
            </div>

            <div class="card-body">
                Sewer problems are very unpleasant and hard to deal with. The two main signs that make it necessary for
                you to employ a professional plumber in Fernando to repair the sewage lines are abnormal sounds, foul
                smells, and slow draining of wastewater. Hiring a plumber to inspect the sewer is advisable for
                assessing the problem and estimating the cost.
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title" style="font-weight: bold;">A-Better Plumbing Company
                </h4>
                <p class="card-category">Chicago</p>
            </div>

            <div class="card-body">
                Almost all the plumbers are experienced in fixing leaks as they are trained to tackle various problems
                with piping and leakage. Whether you want to fix a single leak in the piping system or the entire home
                doesn’t make a difference; plumbers have the training and equipment to handle such problems.

                These are some of the services provided by the professional plumbers which can help you in getting rid
                of the plumbing-related problems. You can make it a point to hire the best plumbers in your area so that
                you do not get troubled in any case.
            </div>
        </div>
    </div>
</div>